page-examine{
  .head{
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left:1rem;
    color: #ff8d00;
    word-spacing:0.5rem;
    background: #EFEFEF;
    font-weight: bold;
    letter-spacing: 0.1rem;
    button{
      position: absolute;
      right: 0rem;
      top: 0rem;
    }
  }
  .card {
    //position: absolute;
    font-size: 0.8em;
  }

  .card-title {
    position: absolute;
    width: 100%;
    top: 12%;
    font-weight: bold;
  }

  .card-subtitle {
    position: absolute;
    font-size: 1.0em;
    top: 52%;
    width: 100%;
    color: #585858;

  }
  .card-time {
    position: absolute;
    font-size: 1.0em;
    width: auto;
    top:33%;
    left: 66%;
  }

}
